/* ---- HTML  ---- */
body {
    font-family: 'Sofia Sans Condensed', sans-serif;
    color: rgb(250, 247, 232);
    background-color: rgb(17, 16, 16);
}

svg {
   fill: rgb(250, 247, 232); 
}

/* ---- End HTML  ----*/



/* ---- Outer Sections  ---- */

.sections-container {
    width: 100%;
}

/* ---- End Outer Sections  ---- */

/* ---- Section 1 ---- */

.section-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.section-1-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    border: solid 1px teal;
}

.name {
    text-transform: uppercase;
    margin-bottom: 0;
}

.profile-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.profile-quote {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 500px;
    padding-bottom: 2rem;
}

.quote-left,
.quote-right {
    width: 50px;
    color: rgb(250, 247, 232);
}

.quote-left {
    align-items: flex-start;
}

.quote-right {
    align-items: flex-end;
    margin-left: 90%;
}

blockquote {
    display: flex;
    margin: 0;
}


.profile-socials {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.social-icon {
    width: 45px;
    color: rgb(250, 247, 232);
}

.social-icon:hover {
    opacity: 0.7;
}

.Bootcamp {
    color: rgb(145, 245, 211);
}

/* ---- End Section 1 ---- */



/* ---- Section 2 ---- */
.section-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.about-me {
    max-width: 500px;
}

.down-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-1000%);
    color: azure;
    width: 20px;
    position: sticky;
}

@media screen and (max-width: 1100px) {
.down-arrow {
    visibility: hidden;
}  
}

/* ---- End Section 2 ---- */


/* ---- Section 3 ---- */

.section-3-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.section-3 ~ .down-arrow {
    visibility: hidden;
}

/* ---- Projects ---- */
.projects {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width: 900px) {
    .projects {
      display: flex;
      flex-direction: column;
    }
  }

.project-section-title {
    text-transform: uppercase;
}

.project-writing {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

.project-title {
    text-transform: uppercase;
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* ---- Project Images ---- */


.project-image-container {
    display: flex;
    flex: 1;
    width: auto;
    flex-wrap: wrap;
}


.project-image-wrapper { 
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }


  .image-container {
    padding: 1rem;
    background-color: rgb(194, 194, 194);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 650px) {
    .project-image-container {
        width: auto;
    }

    .image-container {
      background-color: transparent;
    }
  }

  .image-container img {
    max-width: 100%;
    max-height: 100%; 
    height: auto; 
    border-radius: 10px;
  }

  @media (max-width: 900px) {
    .project-image-wrapper {
      grid-template-columns: 1fr;
    }
  }


  .screenshot {
    width: fit-content;
    border: 1px solid black;
  }

/* ---- End Projects ---- */

/* ---- End Section 3 ---- */


/* ---- Footer ---- */

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-socials {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}

.footer-text {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* ---- End Footer ---- */
